@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/* body */
body {
    background: rgb(51,51,51);
    font-family: Orbitron, sans-serif;
}

/* header */
header {
    margin-top: 100px;
    color:aqua;
}

/* instruction field */
.align-center {
    text-align : center;
}
#instructions {
    width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#player-input {
    padding: 10px 20px;
    margin-top: 30px;
    font-family: Orbitron, sans-serif;
}
#game-button:hover {
    transition: color 0,4s linear;
}
.button {
    padding: 10px 20px;
    margin-top: 20px;
    font-family: Orbitron, sans-serif;
    border-radius: 5px;
    color:aqua;
    text-decoration: inherit;
    background: transparent;
    cursor: pointer;
    transition: transform .2s;
}
.button:hover {
    transform: scale(1.2);
}

/* card-area */
#card-area-container {
    display: flex;
    justify-content: center;
}
#card-area {
    width: 700px;
    height: 440px;
}
#player-card {
    width: 240px;
    height: 400px;
    border: solid 3px white;
    border-radius: 10px;
    float: left;
    position: relative;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    background-color: darkcyan;
}
#computer-card {
    width: 240px;
    height: 400px;
    border: solid 3px white;
    border-radius: 10px;
    float: right;
    position: relative;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    background-color: darkcyan;
}
img {
    height: 100%;
    width: 100%;
}
.card-name-style {
    border: solid 1px lightgrey;
    height: 10%;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 2.7%;
    background-color: lightgrey;
}
.card-img-style {
    border: solid 1px lightgrey;
    height: 35%;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 2.7%;
    background-color: lightgrey;
}
.card-stat-style {
    border: solid 1px lightgrey;
    height: 10%;
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 2.7%;
    background-color: lightgrey;
}
.comparable {
    transition: transform .2s;
}
.comparable:hover {
    transform: scale(1.05);
    background-color: red;
}
.red-highlight {
    background-color: red;
}

/* button area */
#button-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-area {
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* score area */
#score-area-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#score-area {
    width: 700px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#player-score {
    position: relative;
    left: 20px;
    color: aqua;
}
#computer-score {
    right: 20px;
    position: relative;
    color: aqua;
}

/* footer */
footer {
    text-decoration: none;
    margin-top: 20px;
}
#nav-anchor {
    text-decoration: inherit;
    color: aqua;
    border: 1px aqua solid;
}

@media (max-width: 640px) {
    /* header */
    header {
        margin-top: 10px;
    }

    /* instructions */
    #instructions {
        width: 280px;
    }

    /* card-area */
    #card-area {
        width: 350px;
        height: 220px;
    }
    #player-card {
        width: 120px;
        height: 200px;
        border: solid 1.5px white;
        border-radius: 5px;
    }
    #computer-card {
        width: 120px;
        height: 200px;
        border: solid 1.5px white;
        border-radius: 5px;
    }
    .card-name-style {
        margin-top: 2.1%;
        font-size: 50%;       
    }
    .card-img-style {
        margin-top: 2.1%;
    }
    .card-stat-style {
        margin-top: 2.2%;
        font-size: 50%; 
    }

    /* button area */
    #button-area {
        width: 350px;
        height: 40px;
    }
    #draft-next-card {
        font-size: 50%;
        margin-top: 5px;
    }

    /* score-area */
    #score-area {
        width: 350px;
        height: 40px;
        font-size: 50%;
    }

    /* footer */
    footer {
        text-decoration: none;
        margin-top: 20px;
    }
    #nav-anchor {
        text-decoration: inherit;
        color: aqua;
        border: 1px aqua solid;
    }
}